.App {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px 20px;
  background-color: firebrick;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: white;
}

.bar-contents, .line-contents, .doughnut-contents, .poster{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bar-contents{
  background-color: #FFFFF7;
  padding: 0 30px 30px 30px;
}
.line-contents{
  background-color: #F2FFED;
  padding: 30px;
}
.doughnut-contents{
  background-color: #E8FFFF;
  padding: 30px;
}
.poster{
  display: flex;
  flex-direction: row;
  padding: 30px;
}
.poster-box{
  width: 580px;
  height: 820px;
  background-image: url(./images/covid-19.jpg);
  background-size: 100% 100%;
  margin: 0 40px;
}
.mask-box{
  width: 650px;
  height: 820px;
  background-image: url(./images/mask.jpg);
  background-size: 100% 100%;
}
.call {
  width: 240px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.call-list {
  list-style: none;
}
.contacts {
  background-color: #747474;
}
.contacts-container {
  width: 270px;
  height: 80px;
  margin: 0 auto;
  padding-top: 10px;
}
.contacts-list {
  color: white;
  list-style: none;
}