.App {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px 20px;
  background-color: firebrick;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: white;
}

.bar-contents, .line-contents, .doughnut-contents, .poster{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bar-contents{
  background-color: #FFFFF7;
  padding: 0 30px 30px 30px;
}
.line-contents{
  background-color: #F2FFED;
  padding: 30px;
}
.doughnut-contents{
  background-color: #E8FFFF;
  padding: 30px;
}
.poster{
  display: flex;
  flex-direction: row;
  padding: 30px;
}
.poster-box{
  width: 580px;
  height: 820px;
  background-image: url(./images/covid-19.jpg);
  background-size: 100% 100%;
  margin: 0 40px;
}
.distance-box{
  width: 750px;
  height: 820px;
  background-image: url(./images/distance.jpg);
  background-size: 100% 100%;
}
